h2 {
    color: rgba(245, 222, 179, 0.808);
    margin: auto;
    letter-spacing: 5px;
    font-size: 2em;
    text-align: center;
    padding-top: 1px;
    font-style: italic;
}
h1 {
    color: rgba(245, 245, 245, 0.578);
    letter-spacing: 15px;
    text-align: left;
    background: linear-gradient(90deg, rgba(0, 0, 100, 0.5), rgba(11, 111, 173, 0.5),rgba(1, 20, 36, 0.5));
    width: 90%;
    margin: 0;
    border-top-right-radius: 100%;
    margin-top: -10px;
}
.shed1 {
    background: linear-gradient(90deg, rgba(35, 56, 3, 0.785), rgba(62, 74, 3, 0.589),rgba(159, 188, 10, 0.5), rgba(25, 30, 0, 0.5));
    width: 100%;
    margin: 0;
    border-bottom-right-radius: 100%;
}
.shed2 {
    background: linear-gradient(180deg, rgba(92, 0, 100, 0.5), rgba(166, 7, 206, 0.5), rgba(165, 6, 174, 0.5));
    width: 90%;
    margin: 0;
    border-top-right-radius: 100%;
}
.shed3 {
    background: linear-gradient(180deg, rgba(0, 0, 5, 0.785), rgba(43, 43, 88, 0.589), rgba(0, 0, 30, 0.5));
    width: 90%;
    margin: 0;
    border-bottom-right-radius: 100%;
}


body {
    background: url(https://live.staticflickr.com/65535/53313106664_74b3cfa091_h.jpg);
}
main {
    margin-top: -2px;
    background-color: rgba(0, 0, 0, 0.484);
}

.catalogue:hover, .catalogue:focus, .catalogue:active {
    background: linear-gradient(hsl(238, 100%, 6%),hsl(240, 90%, 70%), hsl(250, 60%, 30%), hsl(300, 100%, 6%));
}
.catalogue {
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: inline-table;
    width: 280px;
    height: 280px;
    background-color: rgba(6, 9, 69, 0.559);
    border-radius: 3%;
}
.price {
    font-family:'Great Vibes', cursive;
    font-size: x-large;
    margin: 10px;
}
img {
    display: block;
    margin: auto;
    width: 25%;
    height: 25%;
}
/* Initial of developer */
em {
    font-family:'Great Vibes', cursive; 
    font-size: xx-large;
  }
.dev {
    font-size: larger;
    font-family: 'Tilt Neon', sans-serif;
}
p {
    font-family: 'Tilt Neon', sans-serif;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    font-style: italic;
    font-weight: 1;
}
.smallText {
    font-size: small;
}
button {
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 30%;
    border-bottom-left-radius: 30%;
    margin-left: 13rem;
    width: 10em;
    background: linear-gradient(180deg, hsl(238, 100%, 6%),hsl(240, 92%, 75%), hsl(250, 59%, 62%), hsl(300, 100%, 6%));
}

button:hover, button:active, button:focus {
    background: linear-gradient(180deg, hsl(238, 100%, 6%),hsl(240, 77%, 73%), hsl(250, 63%, 77%), hsl(245, 70%, 30%), hsl(300, 100%, 6%));
   
}
a {
    font-family: cursive;
    color: #ffffff98;
    font-size: larger;
    font-style: italic;
    font-weight: 700;
    text-decoration: none;
}
footer hr {
    width: 25em;
}
address {
    color: #ffffff;
    text-align: center;
}
div p {
    margin: auto;
    color: #ffffffc0;
}
