
body {
    background: linear-gradient(rgba(0, 0, 100, 0.5), rgba(0, 0, 200, 0.5), rgba(0, 0, 20, 0.5)), url(https://wallpapercave.com/wp/wp7043567.jpg);

}

.catalogue:hover, .catalogue:focus, .catalogue:active {
    background: linear-gradient(hsl(238, 100%, 6%),hsl(240, 90%, 70%), hsl(250, 60%, 30%), hsl(300, 100%, 6%));
}
.catalogue {
    display: inline-block;
    color: aliceblue;
    width: 300px;
    height: 400px;
    background-color: rgba(6, 9, 69, 0.559);
    padding:20px;
    margin:40px 0 0 70px;
    justify-content: center;
    align-items: center;
    border-radius: 40%;
    border: 5px solid rgba(1, 1, 15, 0.247);

}
.price {
    font-family:'Great Vibes', cursive;
    font-size: x-large;
    border-radius: 70%;
}
img {
    margin-left: 25%;
    width: 50%;
    height: 40%;
    align-items: center;
    justify-content: center;
}
/* Initial of developer */
em {
    font-family:'Great Vibes', cursive; 
    font-size: xx-large;
  }
.dev {
    font-size: larger;
    font-family: 'Tilt Neon', sans-serif;
}
p {
    font-family: 'Tilt Neon', sans-serif;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    font-style: italic;
    font-weight: 1;
}
h2 {
    text-align: center;
    font-weight: 700;
    font-family: 'Tilt Neon', sans-serif;
}
* {
    box-sizing: border-box;
}
h1 {
    color: wheat;
    text-align: left;
    margin: 0%;
    letter-spacing: 5px;
    font-size: 3em;
    width: 25%;
}
.smallText {
    font-size: small;
}

nev > ul {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.525);
    padding: 10px;
    margin: 0;
}
nev > ul button {
    border-radius: 25px;
    background: linear-gradient(90deg, hsl(238, 100%, 6%),hsl(240, 92%, 75%), hsl(250, 59%, 62%), hsl(300, 100%, 6%));
    margin: 0;
}

nev ul:hover, nev ul:focus, nev ul:active, button:hover, button:active, button:focus {
    background: linear-gradient(90deg, hsl(238, 100%, 6%),hsl(240, 77%, 73%), hsl(250, 63%, 77%), hsl(245, 70%, 30%), hsl(300, 100%, 6%));
   
}
a {
    font-size: larger;
    font-style: italic;
    font-weight: 900;
}
hr {
    width: 500px;
}
